<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<script>
		function send(){
			var fromAddr = document.getElementById( "fromAddr" ).value;
			var toAddr = document.getElementById( "toAddr" ).value;
			var msg = document.getElementById( "msg" ).value;
			
			location.href = "/sendmail?fromAddr=" + fromAddr + "&toAddr=" + toAddr + "&msg=" + msg;
		}
	</script>
</head>
<body>
	<input type="text" id="fromAddr" / >
	<input type="text" id="toAddr" / >
	<input type="text" id="msg" / >
	<button onclick="send()">Send Mail</button>
</body>
</html>